Package: xyz.extbh.jodelemproved
Name: JodelEmproved
Version: 0.0.2
Architecture: iphoneos-arm
Description: Jodel+
Maintainer: ExT
Author: ExT (emproved@extbh.xyz)
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
