Package: dev.extbh.jodelemproved
Name: JodelEmproved
Version: 0.0.5
Architecture: iphoneos-arm
Tag: compatible::13.0-15.5
Description: Allowing You To Fully Use Jodel!
Depiction: https://extbh.dev/
Homepage: https://extbh.dev
Maintainer: ExT
Author: ExT <emproved@extbh.xyz>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
