Package: dev.extbh.jodelemproved
Name: Jodel EMPROVED
Version: 1.1
Architecture: iphoneos-arm
Description: Customizing the Jodel app
Depiction: https://repo.extbh.dev/dev.extbh.jodelemproved/
Homepage: https://extbh.dev
Maintainer: ExT
Author: ExT <emproved@extbh.xyz>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
