Package: dev.extbh.jodelemproved
Name: Jodel EMPROVED
Version: 2.0.0
Architecture: iphoneos-arm
Description: An awesome tweak for Jodel!
Depiction: https://repo.depiction.extbh.dev/dev.extbh.jodelemproved/
Homepage: https://extbh.dev
Maintainer: ExTBH <natheer@extbh.dev>
Author: ExTBH <natheer@extbh.dev>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13.0)
